body {
  background-color: whitesmoke;
}

h1{
  text-align: center;
  font-size: 50px;
  padding:100px;
}
.student-cards-container {
  display: flex;          /* Flex layout */
  flex-wrap: wrap;        /* Wrap cards if needed */
  gap: 20px;              /* Space between cards */
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align cards to top */
}
.student-cards-container button{
  margin-right: 200px;
  border:2px solid white;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: #1086f5;
  color: white;
}

/* Individual Student Card */
.StudentCard {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  height: 250px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}
.StudentCard h3{
   font-size: 15px;
   margin-right: 200px;
   width: 200px;
   height:20px;
   border: 1px solid white;
   background-color: rgba(191, 215, 236, 0.301);
   border-radius: 5px;
}
.StudentCard h4{
  font-size: 15px;
   margin-right: 100px;
   width: 200px;
   height:20px;
   border: 1px solid white;
   background-color: rgba(191, 215, 236, 0.301);
   border-radius: 5px;
}