
h1 {
  text-align: center;
  margin: 40px 0;
  font-size: 20px;
}


.card {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}


.MovieCard {
  text-align: center;
  height: 420px;
  width: 300px;
  padding: 20px;
  border: 1px solid rgba(46, 44, 44, 0.1);
  border-radius: 10px;
  background-color: rgba(240, 255, 255, 0.2);
}


.Movie-Card {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 8px;
}

.MovieCard button {
  margin-top: 15px;
  border: none;
  border-radius: 7px;
  background-color: hsla(212, 81%, 54%, 0.9);
  width: 100%;
  color: white;
  height: 35px;
  font-size: 14px;
  cursor: pointer;
}

.MovieCard button:hover {
  background-color: hsla(212, 81%, 45%, 1);
}


.MovieCard h2 {
  margin-top: 15px;
  font-size: 15px;
}
